
@font-face{
    font-family: FuenteDigital;
    src:url(../Components/fuentes/DS-DIGI.TTF);
}
@font-face{
    font-family: FuenteDigitalBold;
    src:url(../Components/fuentes/DS-DIGIB.TTF);
}
@font-face{
    font-family: FuenteDigitalItalica;
    src:url(../Components/fuentes/DS-DIGII.TTF);
}
@font-face{
    font-family: FuenteDigitalItalicaBold;
    src:url(../Components/fuentes/DS-DIGIT.TTF);
}


.texto{
    /* float: right; */
    width: 100%;
    background-color: black;
    color: white;
    font-family: FuenteDigitalItalica;
    font-size: 30px;
    /* margin-top: 2%;
    margin-left: 2%; */
    display:inline-block;
}
